#page{
	width: 800px;
	margin: 0 auto;
        height: auto;
        
}

#header{
	width: 100%;
	height:50px;
	border: 2px solid crimson;
	margin-bottom:10px;
        background-color:appworkspace;
        text-align: center;
        font-size:large;
        
}


#left{
	width: 20%;
	height:60%;
        margin-left:2%;
	border: 2px solid crimson;
	margin-bottom:10px;
        float: left;
        text-align: left;
        font-size: small;
}

#content{
	width: 75%;
	height:60%;
	margin-right:2%;
	margin-bottom:10px;
	border: 1px solid crimson;
        float:right;
        text-align: left;
        font-size: medium;
}

#footer{
	width: 100%;
	height:30px;
	border: 2px solid crimson;
        float:left;
        font-size: small;
        background-color:#ffffff;
        text-align: center;
        font-size: small;
}